judecca/target/debug/*
judecca/Cargo.lock
judecca/target/.rustc_info.json
judecca/sq.dot
judecca/.idea/
tools/onnx_python/.idea/*
.idea
data/inception_v2
data/squeezenet/
judecca/.idea/workspace.xml

*.hy#
*.hy~
work/proto/.#livness.hy
judecca/.idea/
judecca/.idea/misc.xml
judecca/.idea/workspace.xml
