
judecca/target/debug/*
judecca/Cargo.lock
judecca/target/.rustc_info.json
proj/judecca_core/judecca_core/obj/fsac.cache
judecca/sq.dot
judecca/.idea/*
tools/onnx_python/.idea/*
judecca/.idea/workspace.xml
data/squeezenet/model_op9.onnx
.idea/
